/* global */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	max-width:1300px;
}

.clear{
	clear: both;
}
/* start header */
header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 100px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.navbar-collapse>li>button{
	margin-top: 10px;
	padding: 15px 10px;
	border-radius:5px;
	color:#DC4F72;
	border-color: #DC4F72;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 15px;
}
.navbar-nav .nav-item{
	position:relative;
}
.navbar-toggler{
	padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #DC4F72;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.navbar-toggler-icon .fa{
	color: #fff;
    line-height: 34px;
    background-color: #DC4F72;
    border-radius: 5px;
}
.navbar-toggler-icon{
	width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.navbar-collapse li{
	display: grid;
	align-items: center;
}
.navbar-collapse{
	float: left;
    text-align: center;
    width: 100%;
    /* padding: 20px 0; */
	background-color:white;
	flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-nav{
	display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.fixed-top{
	position:fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index:1030;
}
.navbar{
	position:relative;
	display:flex;
	align-items: center;
}
.navbar-nav{
	display:flex;
	flex-direction:column;
}

.navbar-expand-lg .navbar-nav .nav-link{
	flex-direction:row;
	font-size:18px;
	color:black;
	padding-left: 20px;
	/* padding: 14px 0; */
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color:#DE5879; 	
}

.navbar .navbar-brand{
	font-size:28px;
	font-weight:700;
	color:#DE5879;
	letter-spacing:-1px;
}
.navbar navbar-brand i{
	color:#DE5879;
	margin-right:10px;
}
.navbar-expand-lg .navbar-nav .nav-item{
	/* padding: 14px 0; */
	position: relative;
	font-size:16px;
	font-weight:400;
	transition:all 0.5 ease-in;
}
.nav-link::before{
	position: absolute;
    content: '';
    background:#DE5879;
    width: 0px;
    height: 3px;
    bottom: 13px;
	transition:all .5s;
}
.navbar-nav .nav-item .nav-link:hover::before{
	width: 30px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}
.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0px);
}
.dropdown-menu {
    border-radius: 6px;
    min-width: 11rem;
    padding: 1rem 0 0.3rem;
    box-shadow: var(--card-box-shadow);
	
}
.navbar-expand-lg .navbar-nav nav-item a:before:hover{
    width: 20px;
	color:#cf2952;
}

.fa fa-angle-down ::before{
	display:none;
}
.btn-outline-primary:hover{
	color: white;
    background-color: rgb(220, 79, 114);
    border-style: none;
    transition: all 0.5s ease-in-out 0s;
}

/* end header */
/* start banner */
.banner .content {
	position:relative;
	background-image:linear-gradient(to right,#fff,rgba(255,255,255,0.92)),url(../image/banner.jpg);
	background-position:center;
	background-attachment: fixed;
	padding-top: 5rem;

}
.content .row{
	display:flex;
	align-items:center;
}
.content-photo img{
	transform:rotate(180deg);
}
.content-left button{
	margin-top: 10px;
	padding: 15px 30px;
	border-radius:5px;
	color:#DC4F72;
	border-color: #DC4F72;
	font-weight: 500;

}
.content-left button:hover{
	color:white;
	background-color:#DC4F72;
	border-style:none;
	transition:0.5s ease-in-out;
}
.content-left h3{
	font-weight: 700;
	font-size:50px;
	margin-bottom: 20px;
}
.content-left p{
	font-weight: 400;
	font-size:20px;
	margin-bottom: 30px;
}
/* end banner */
/* start intro */
.introduction{
	margin-top: 50px;
	margin-bottom: 30px;
}
.intro__title h2{
	color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.intro__title h5{
	font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #DC4F72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.intro__title p{
    color:#5a5a5a;
    font-size: 18px;
    line-height: 22.5px;
    font-weight: 400;
    margin-top: 5px;
	text-align: center;
}
.introduction .item{
	border-radius: 5px;
    transition: 0.3s ease-in;
    background: #F7F9FC;
    padding: 3rem 2rem;
    border: 1px solid var #F7F9FC;
}
.introduction .item:hover{
	transition: 0.3s ease-in;
    background-color: #ffffff;
    /* border: 1px solid #eee; */
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}
.item a{
	text-decoration: none;
}
.introduction .item h3{
	color: #2C3038;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}
.introduction .item p{
	
    color: #2C3038;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;

}
/* end intro */
/* start about */
.about{
	margin-top: 50px;
	background-color:#F7F9FC;
	padding-top: 80px;
}
.about__title{
	font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #DC4F72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.about__content h3{
	font-size: 40px;
    line-height: 40px;
    color: #2C3038;
    font-weight: 700;
	padding-bottom: 30px;
}
.about__content p{
	font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #2C3038;
    line-height: 24.4px;
}
.read-more-button{
	transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 40px;
    text-transform: uppercase;
}
.btn-primary{
	color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.btn-primary:hover{
	color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}
.img-curve{
	border-radius: 8px;
}
.img-curve:hover{
	transform: translateY(-0.5rem);
	transition:0.3s;
}
.about__content{
	transform: translateY(-1rem);
}


/* end about */

/* end number */
a:hover {
	text-decoration: none;
  }
  /* Number starts */
  .number {
	padding-top: 50px;
	padding-bottom: 50px;
  }
  
  .number__item {
	/* width: 10%; */
	/* margin-right: 20px; */
	/* width: 100%; */
	/* position: relative; */
	/* padding-right:15px; */
	/* padding-left: 15px; */
	padding: 30px 40px;
	background-color: #fff;
	box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
	max-width: 31%;
	transition:.5s
  }

  
  .number__item:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
	  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  
  .number__item .title {
	font-weight: bold;
  }
  
  .number__item span {
	color: #dc4f72;
	font-size: 40px;
	font-weight: bold;
  }
  .number{
    background-color: #F7F9FC;
  }
  /* Number ends */
  
  /* Commit starts */
  .commit {
	background-size: cover;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),url(../image/bg.jpg);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: center;
	background-attachment: fixed;
	align-items: center;
	/* margin-top: 50px; */
  }
  
  .commit h2 {
	font-size: 30px;
	padding-top: 100px;
	color: white;
  }
  
  .commit p {
	color: white;
	margin-top: 20px;
  }
  
  .commit button {
	height: 60px;
	width: 150px;
	margin-bottom: 100px;
	margin-top: 30px;
	background-color: white;
	border-radius: 5px;
	font-weight: bold;
  }
  
  .commit button:hover {
	background-color: #e2e6ea;
  }
  /* Commit ends */
  
  /* Solution starts */
  .solution {
	margin-top: 50px;
  }
  
  .solution__title h5 {
	color: #dc4f72;
	font-size: 16px;
  }
  
  .solution .info {
	padding: 30px 20px;
  }
  
  .solution__item label {
	font-size: 14px;
	border-radius: 20px;
	font-weight: bold;
	height: 30px;
	width: 80px;
	text-align: center;
	line-height: 30px;
  }
  
  .solution__item {
	transition: 0.7s;
	position: relative;
  }
  
  .solution__content img {
	width: 100%;
	border-radius: 10px 10px 0 0;
  }
  
  .solution__item a p {
	position: absolute;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	border-bottom: none;
	padding-bottom: 0px;
	position: absolute;
	top: 0;
	background-color: #dc4f72;
	padding: 15px 15px;
	margin-bottom: 0;
	right: 0;
	margin-top: 0;
	margin-right: 14px;
	border-radius: 0 10px 0 0;
  }
  
  .solution__item .main__link {
	color: black;
	font-size: 20px;
	font-weight: bold;
	transition: 0.7s;
  }
  
  .solution .info {
	transition: 0.7s;
  }
  
  .solution__item .know {
	color: #dc4f72;
  }
  
  .solution__item i {
	font-size: 12px;
	margin-left: 5px;
  }
  
  .solution__item:hover {
	transform: translateY(-5px);
	transition: 0.7s;
  }
  
  .solution__item:hover i {
	transform: translateX(2px);
	transition: 0.7s;
  }
  
  .solution__item:hover .main__link {
	color: #dc4f72;
  }
  
  #business {
	color: #dc5175;
	background-color: #fcdfe4;
  }
  
  #design {
	color: #518829;
	background-color: #cce6cc;
  }
  
  #industry {
	color: #2d24ff;
	background-color: #ccccff;
  }
  /* Solution ends */
  
  /* Qna starts */
  .qna {
	margin-top: 100px;
  }
  
  .qna__title h5 {
	color: #dc4f72;
	font-size: 16px;
  }
  
  .qna img {
	width: 100%;
	transition: 0.5s;
  }
  
  .qna img:hover {
	transform: translateY(-5px);
	transition: 0.5s;
  }
  
  .qna #accordion {
	width: 100%;
  }
  
  .qna .card {
	border: none;
  }
  
  .qna .card a {
	color: black;
	font-size: 20px;
  }
  /* Qna ends */
  /* 
   */
   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont,
     "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
      "Helvetica Neue", sans-serif;
}
.clear {
    clear: both;
}

/* start featured cases */
.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.header-section h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    max-width: 750px;
}
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}
.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    background: #fff !important;
    
}
.resp-tabs-list li{
    padding: 0;
}
.resp-tabs-list li a{
    text-decoration: none;
    color: #4E5B61;
    border-bottom: 3px solid #eee;
}

.resp-tabs-list li a.active{
    border-bottom: none;
    margin-bottom: -1px !important;
    border-bottom: 3px #DC4F7C solid !important;    
    color: #dc4f72 !important;
}
.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}
.w3l-products .products-content {
    margin: 20px 0;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.w3l-products .products-content h3 {
    color: #2C3038;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.w3l-products .products-content p {
    color: #5a5a5a;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}
.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.btn-outline-danger {
    color: #dc4f72;
    border-color: #dc4f72;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
img.img-curve:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}

/* end featured cases */

/* start testimonial */
.w3l-testimonials .testimonials {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77)
    , rgba(247, 249, 252, 0.77))
    , url(./img/testimonial_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.header-section {
    max-width: 750px;
    margin: 0 auto;
}
.w3l-testimonials .carousel-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    opacity: 0;
    
}
.w3l-testimonials .carousel-item.active{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    opacity: 1;
    transition: .5s;
}
.w3l-testimonials .itemLeft,.itemRight {
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: #fff;
    border-radius: 6px;
}
.w3l-testimonials .img-circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid #dc4f72;
    
}
.w3l-testimonials .img-circle img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
.w3l-testimonials .message {
    position: relative;
}
.w3l-testimonials .message span {
    font-size: 30px;
    color: var(--title-color);
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: -40px;
    right: 0;
}
.w3l-testimonials .message p {
    font-size: 18px;
    line-height: 26px;
    color: #2C3038;
}
.w3l-testimonials .name h4 {
    font-size: 18px;
    color: #dc4f72;
    font-weight: 400;
}
.w3l-testimonials .name p {
    font-size: 13px;
    color: #5a5a5a;
}
.carousel-indicators li{
    width: 40px;
    height: 5px;
    margin: 5px 5px;
    background: #fff; 
    border: none;
    transition: .2s ease;
    border-radius: 0;

}
.carousel-indicators li:active{
    background: #dc4f72
}
.carousel-indicators li:hover{
    background: #dc4f72;   
}
/* end testimonial */

/* start ready to build */
.btn-danger {
    
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.btn-danger:hover {
    background-color: #d62f58;
    border-color: #cf2952;
}



/* end ready to build */

/* start footer */
.w3l-footer .w3l-footer-16-main.py-5 {
    background: #F7F9FC;
}
.w3l-footer .w3l-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 700;
}
.w3l-footer .footer-gd-16 li {
    display: block;
    list-style: none;
    margin: 10px 0;
}
.w3l-footer .footer-gd-16 li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
}
.w3l-footer .end-column {
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.w3l-footer .w3l-footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}
.w3l-footer form {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.w3l-footer .subscribe input[type="email"] {
    background: #F7F9FC;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2C3038;
    font-weight: 600;
    border-radius:6px;
}
.w3l-footer .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}
.w3l-footer .w3l-footer-16-main p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}
.w3l-footer .below-section, .w3l-footer .para-content-footer {
    border-top: 1px solid #eaeaea;
}
.w3l-footer .w3l-footer-16-main p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}
.w3l-footer .w3l-footer-16-main p a {
    color: #2C3038;
}

.w3l-footer .w3l-footer-16-main p a:hover{
    text-decoration: none;
    color: #dc4f72;
    opacity: 0.8;
}
.w3l-footer ul.social li, .w3l-footer ul.jst-link li {
    display: inline-block;  
    margin-right: 5px;
    list-style-type: none;
}
.w3l-footer ul.social li a {
    color: #2C3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
.w3l-footer ul.social li a span {
    font-size: 15px;
    line-height: 36px;
}
.w3l-footer ul.social li a:hover {
    color: #DC4F7C;
    transition: 0.3s ease;
}
.w3l-footer .backToTop{
        width: 50px;
        height: 50px;
        background: #f55f8d;
        border-radius: 8px;
        line-height: 50px;
        text-align: center;
        display: block;
        position: fixed;
        right: 15px;
        bottom: 15px;
        color: #fff;
        transition: all .2s;
        box-shadow: -4px 4px 24px -10px #f55f8d;
     
        
}
.backToTop i{
    line-height: 50px;
}
/* end footer */
  